%h1 Listing articles
%table
  %tr
    %th Title
    / <th>Text</th>
  - @articles.each do |article|
    %tr
      /
        <td><haml_loud> article.title </haml_loud></td>
        <td><haml_loud> article.text </haml_loud></td>
      %td
        = link_to article.title, article_path(article)
      %td
        - if can? :update, @article
          = link_to "Edit", edit_article_path(article)
      %td
        - if can? :destroy, Article
          = link_to "Delete", article_path(article), |
            method: :delete,                         |
            data: {confirm: 'Are you sure?'}         |
%br/
%h3
  = link_to 'New article', new_article_path
  = link_to 'Back', welcome_index_path
